.grid-container {
    display: grid;
    grid-template-columns: 1fr 10fr; /* Делим пространство пополам между контейнерами */
    grid-gap: 10px; /* Добавляем промежуток между контейнерами (опционально) */
  }