.error {
    display: block;
    margin-bottom: 10px;
}

svg {
    width: 100%;
    height: 500px;
}
svg text {
    font: 8px Verdana;
}
svg path {
    fill: none;
    stroke: #333333;
    width: 1px;
}