#build {
    font: 14px Arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

#build th,
#build td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}
#data{
    width: 70%;
    margin: 0 auto;
}
#but{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top:50px;
}
.error {
    display: block;
    margin-bottom: 10px;
    color: red;
    text-align: center;
}

svg {
    display: block;
    width: 900px;
    height: 600px;
    margin: 0 auto;
}

svg text {
    font: 8px Verdana;
}

svg path {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
}